/*Limpar formatações padrão*/
*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 16px;
	font-family: sans-serif;
	background: #BDBDBD;
}

h1{
	color: #FF8000;
}

h2{
	margin-bottom: 10px;
}

#imagem{
	float: left;
	margin: 0 10px 10px 0;
	width: 90px;
}

#navegacao{
	background: #000;
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
	border-bottom: 2px solid #FF8000;
}

#logo{
	margin: 10px;
	float: left;
}

#largura{
	width: 900px;
	margin: 0 auto;
}


#menu{
	margin: 10px;
	float: right;
	padding: 10px 0px;
}

#postagem{
	background: #F7BE81;
	padding: 10px;
	margin: 10px;
	
}

#area-total{
	width: 900px;
	margin: 70px auto;
}
a{
	text-decoration: none;
	padding: 5px 10px;
}

a:link{
	color: #BDBDBD;
}

a:visited{
	color: #BDBDBD;
}

a:hover{
	color: #FF8000;
}